@{
	ViewBag.InitModule = "ProfileModule";
}

@section Scripts {
	<script src="~/js/profile-index.js"></script>
}

<h2>My Profile - Edit</h2>

<div data-ng-controller="ProfileEditController">
	<form name ="editProfile" data-ng-submit="saveEditProfile()">
		<div>
			<label>First Name: </label>
			<input required type="text" placeholder="Enter First Name" data-ng-model="profile.FirstName"/>
		</div>
		<div>
			<label>Last Name: </label>
			<input required type="text" placeholder="Enter Last Name" data-ng-model="profile.LastName"/>
		</div>
		<div>
			<label>Email Address: </label>
			<input required type="text" placeholder="Enter Email Address" data-ng-model="profile.EmailAddress"/>
		</div>
		<div>
			<label>Phone Number: </label>
			<input required type="text" placeholder="Enter Phone Number" data-ng-model="profile.PhoneNumber"/>
		</div>
		<div></div>
		<div>
			<button class="btn btn-primary" type="submit">Update</button>
		</div>
		<div>{{saveStatus}}</div>
	</form>
</div>

