@{
	ViewBag.InitModule = "ProfileModule";
}

@section Scripts {
	<script src="~/js/profile-index.js"></script>
}

<h2>My Profile</h2>

</br></br></br>
<div data-ng-controller="ProfileIndexController">
	<div data-ng-show="!profile">
		<a data-ng-href="@Url.Action("Create", "Profile")" target="_self">Create New  </a>
	</div>

	</br>

	<div data-ng-show="profile">
		<div>First Name: {{profile.FirstName}} </div>
		<div>Last Name: {{profile.LastName}} </div>
		<div>Phone Number: {{profile.PhoneNumber}} </div>
		<div>Email Address: {{profile.EmailAddress}} </div>
		</br>
		<div>
			<a data-ng-href="@Url.Action("Edit", "Profile")">Edit  </a>
		</div>
	</div>
</div>