@{
	ViewBag.InitModule = "ReminderModule";
}

@section Scripts {
	<script src="~/js/reminder.js"></script>
}

<h2>Reminder - Create</h2>

<div data-ng-controller="ReminderCreateController">
	<form name ="createReminder" data-ng-submit="saveCreateReminder()">
		
		<div>
			<select class="form-control" 
			        data-ng-model="selectedContact" 
			        data-ng-options="contact.name for contact in contacts">
				<option value="" >Choose contact..</option>
			</select>
		</div>		

		<div>
			<label>Reminder Date Time: </label>
			<input required type="text" placeholder="Enter Reminder Date Time" data-ng-model="reminder.ReminderDateTime"/>
		</div>
		<div>
			<label>Message: </label>
			<input required type="text" placeholder="Enter Message" data-ng-model="reminder.Message"/>
		</div>
		<div>
			<label>Reminder Sent: </label>
			<input type="checkbox" data-ng-model="reminder.Sent"/>
		</div>
		<div></div>
		<div>
			<button class="btn btn-primary" type="submit">Create</button>
		</div>
	</form>
</div>
