@{
	ViewBag.InitModule = "ReminderModule";
}

@section Scripts {
	<script src="~/js/reminder.js"></script>
}

<h2>Reminder - Create</h2>

<div data-ng-controller="ReminderCreateController">
	<form name ="createReminder" data-ng-submit="saveCreateReminder()">
		
		<div>
			<select class="form-control" 
			        data-ng-model="selectedContact" 
			        data-ng-options="contact.name for contact in contacts">
				<option value="" >Choose contact..</option>
			</select>
		</div>		
		
		<div>
			<label>Recurrence: </label>
			<select id="ddlRecurrence" class="form-control" 
			        data-ng-model="selectedRecurrence" 
			        data-ng-options="recurrence.idrecur for recurrence in recurrences">
				<option>Choose..</option>
			</select>
		</div>
		<div data-ng-show="weekdayshow"  >
		<label>Week Day: </label>
		<select id="ddlWeekday" class="form-control" 
			data-ng-model="selectedWeekday" 
			data-ng-options="weekday.idweek for weekday in weekdays">
		<option>Choose..</option>
		</select>
		</div>
		
		<div data-ng-show="calendarshow"  >
			<label>Date: </label>
			      <datepicker data-ng-model="ReminderDate" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
		</div>

				<div>
			<label>Time: </label>
			       <timepicker data-ng-model="ReminderTime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
		</div>		

		<div>
			<label>Message: </label>
			<input required type="text" placeholder="Enter Message" data-ng-model="reminder.Message"/>
		</div>
		<div>
			<label>Reminder Sent: </label>
			<input type="checkbox" data-ng-model="reminder.Sent"/>
		</div>
		<div></div>
		<div>
			<button class="btn btn-primary" type="submit">Create</button>
		</div>
	</form>
</div>
