@{
	ViewBag.InitModule = "ReminderModule";
}

@section Scripts {
	<script src="~/js/reminder.js"></script>
}

<h2>Reminder - Edit</h2>

<div data-ng-controller="ReminderEditController">
	<form name ="editReminder" data-ng-submit="saveEditReminder()">
		
		<div><label>{{reminder.ContactName}}</label></div>
		<div>
			<label>Reminder Date Time: </label>
			<input required type="text" placeholder="Enter Reminder Date Time" data-ng-model="reminder.ReminderDateTime"/>
		</div>
		<div>
			<label>Message: </label>
			<input required type="text" placeholder="Enter Message" data-ng-model="reminder.Message"/>
		</div>
		<div>
			<label>Reminder Sent: </label>
			<input required type="checkbox" data-ng-model="reminder.Sent"/>
		</div>




		<div></div>
		<div>
			<button class="btn btn-primary" type="submit">Update</button>
		</div>
	</form>
</div>



