@{
	ViewBag.InitModule = "ReminderModule";
}

@section Scripts {
	<script src="~/js/reminder.js"></script>
}

<h2>Reminder History</h2>

</br>

<div data-ng-controller="ReminderHistoryController">
	<table class="table">
		<thead>
			<tr>
				<th> <b>Scheduled</b></th>
				<th> <b>Sent</b></th>
				<th> <b>Message</b></th>
				<th> <b>Contact Name</b></th>
				<th> <b>Email</b></th>
				<th> <b>SMS</b></th>

			</tr>
				
		</thead>
		<tbody>
			<tr data-ng-repeat="reminderhistory in reminderhistories">
				<td>{{reminderhistory.ReminderDateTime | date: 'EEE MM/dd/yyyy hh:mm a'}}</td>
				<td>{{reminderhistory.MessageSentDateTime | date: 'EEE MM/dd/yyyy hh:mm a'}}</td>
				<td>{{reminderhistory.Message}}</td>
				<td>{{reminderhistory.ContactName}}</td>
				<td>{{reminderhistory.EmailSent == true? "Yes": "No"}}</td>
				<td>{{reminderhistory.SMSSent == true? "Yes": "No"}}</td>

			</tr>
		</tbody>
	</table>
	</div>