@{
	ViewBag.InitModule = "ReminderModule";
}

@section Scripts {
	<script src="~/js/reminder.js"></script>
}

<h2>Reminder History</h2>

</br>

<div data-ng-controller="ReminderHistoryController">
	<div data-ng-repeat="reminderhistory in reminderhistories" >
		<tr>
			<td>
				<div>Reminder Date Time {{reminderhistory.ReminderDateTime}} </div>
			</td>
			<td>
				<div>Message {{reminderhistory.Message}} </div>
			</td>
			<td>
				<div>Contact Name {{reminderhistory.ContactName}} </div>
			</td>
			<td>
				<div>Email Sent {{reminderhistory.EmailSent}} </div>
			</td>
			<td>
				<div>SMS Sent {{reminderhistory.SMSSent}} </div>
			</td>
			<td>
				<div>Message Sent Date Time  {{reminderhistory.MessageSentDateTime}} </div>
			</td>
		</tr>
		<br/>
	</div>
</div>


