@{
	ViewBag.InitModule = "ReminderModule";
}

@section Scripts {
	<script src="~/js/reminder.js"></script>
}

<h2>My Reminders</h2>

</br>

<div data-ng-controller="ReminderIndexController">

	<a href="/Reminder/Create" class="btn btn-primary">Create New</a>

	</br><br/><br/>

	<div data-ng-repeat="reminder in reminders" >
		<div>Contact Name: {{reminder.ContactName}} </div>
		<div>Message: {{reminder.Message}} </div>
		<div>Reminder Date Time: {{reminder.ReminderDateTime | date: 'yyyy-MM-dd hh:mm a' }} </div>
		<div>Reminder Sent: {{reminder.Sent}} </div>
		</br>
		<div>
			<a href="/Reminder/Edit/{{reminder.Id}}" class="btn btn-primary">Edit</a>
			<a href="/Reminder/Delete/{{reminder.Id}}" class="btn btn-primary">Delete</a>
		</div>
	</div>
</div>

