@{
	ViewBag.InitModule = "ContactModule";
}

@section Scripts {
	<script src="~/js/contact.js"></script>
}

<h2>Contact - Edit</h2>

<div data-ng-controller="ContactEditController">
	<form name ="editContact" data-ng-submit="saveEditContact()">
		<div>
			<label>First Name: </label>
			<input required type="text" placeholder="Enter First Name" data-ng-model="contact.FirstName"/>
		</div>
		<div>
			<label>Last Name: </label>
			<input required type="text" placeholder="Enter Last Name" data-ng-model="contact.LastName"/>
		</div>
		<div>
			<label>Email Address: </label>
			<input required type="text" placeholder="Enter Email Address" data-ng-model="contact.EmailAddress"/>
		</div>
		<div>
			<label>Cell Phone Number: </label>
			<input required type="text" placeholder="Enter Phone Number" data-ng-model="contact.PhoneNumber"/>
		</div>
		<div></div>
		<div>
			<button class="btn btn-primary" type="submit">Update</button>
		</div>
	</form>
</div>



