@{
    ViewBag.Title = "Home Page";
	Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="appointmentReminderApp" >
<head>
	<title></title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/angular-route.min.js"></script>
	<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

	<script src="~/app2/AppointmentReminderApp.js"></script>
	<script src="~/app2/ProfileForm/profileController.js"></script>
	<script src="~/app2/ProfileForm/profileDirective.js"></script>
	<script src="~/app2/ProfileForm/profileService.js"></script>
	
	<script src="~/app2/ContactForm/contactController.js"></script>
	<script src="~/app2/ContactForm/contactService.js"></script>
	
	<script src="~/app2/ReminderForm/reminderController.js"></script>
	<script src="~/app2/ReminderForm/reminderService.js"></script>

</head>
	<body class="container"  >
		<h1>Appointment Reminder</h1>
		<a href="#/home">Home</a>
		<a href="#/Profile">Profile</a>
		<a href="#/Contacts">Contacts</a>
		<a href="#/Reminders">Reminders</a>
		<br/><br/><br/>
		<div data-ng-view>this is index page.</div>
	</body>
</html>
